@font-face {
    font-family: Poppins-Bold;
    src: url(assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-BoldItalic;
    src: url(assets/fonts/Poppins-BoldItalic.ttf);
}

@font-face {
    font-family: Poppins-ExtraBold;
    src: url(assets/fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: Poppins-ExtraBoldItalic;
    src: url(assets/fonts/Poppins-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: Poppins-Italic;
    src: url(assets/fonts/Poppins-Italic.ttf);
}

@font-face {
    font-family: Poppins-Regular;
    src: url(assets/fonts/Poppins-Regular.ttf);
}

body{
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: hsl(0, 0%, 94%);
}

.hero{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin: 2vw auto auto auto;
    border-radius: 30px;
    border-bottom-right-radius: 200px;
    transform: scale(0.8,0.8);
}

.DMY{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    margin: 1vw 1vw 0vw 1vw;
    /* background-color: aqua; */
}

.Input-section{
    margin: 1vw 0vw 1vw 1.5vw;
}

#day{
    margin-left: 2vw;
}

#year{
    margin-right: 2vw;
}

.Heading{
    font-family: Poppins-Bold;
    color: hsl(0, 1%, 44%);
    font-size: 0.85vw;
    letter-spacing: 4px;
}

.Input-section input{
    border: 1px solid hsl(0, 0%, 86%);
    width: 8vw;
    height: 4vw;
    border-radius: 5px;
    font-size: 2vw;
    margin-top: 0vw;
    font-family: Poppins-Bold;
    padding-left: 1.5vw;
    cursor: pointer;
}

.Input-section input:focus{
    outline: none;
    font-size: 2vw;
    font-family: Poppins-Bold;
    border-color: hsl(259, 100%, 65%);
    color: hsl(0, 0%, 8%);
}

.Input-section input:focus::placeholder{
    color: white;
}

.Input-section input::selection{
    font-size: 2vw;
}

.error{
    display: none;
    color: hsl(0, 100%, 67%);
    font-family: Poppins-Italic;
    font-size: 0.8vw;
    margin-bottom: 0vw;
}

.Seperation{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    /* background-color: antiquewhite; */
    margin-top: 0vw;
}

.line{
    width: 40vw;
    height: 2px;
    background-color: hsl(0, 0%, 94%);
    border-radius: 5px;
    margin: 3vw 0vw 0vw 3vw 
}

.button{
    width: fit-content;
    height: fit-content;
    margin: 0vw 3vw 0vw 0vw;
    border-radius: 50px;
    background-color: hsl(259, 100%, 65%);
    border: none;
    cursor: pointer;
}

.button:hover{
    background-color: hsl(0, 0%, 8%);

}

.button:hover svg{
    background-color: hsl(0, 0%, 8%);
}

svg{
    width: 4.5vw;
    height: 4.5vw;
    background-color: hsl(259, 100%, 65%);
    cursor: pointer;
    border-radius: 50px;
    margin: 0.5vw 0.5vw 0.5vw 0.5vw;
    transform: scale(0.7,0.7);
}

svg:hover{
    background-color: hsl(0, 0%, 8%);
}

path{
    width: 2vw;
    height: 2vw;
}

.result{
    display: flex;
    flex-direction: row;
    font-size: 5vw;
    font-family: Poppins-ExtraBoldItalic;
    margin: 0vw 0vw 0vw 3vw;
}

.result p{
    margin: 0vw 1vw 0vw 0vw;
}

.result-number{
    color: hsl(259, 100%, 65%);
}

.result-text{
    color: hsl(0, 0%, 8%);
}

#day-result{
    margin-bottom: 2vw;
}


@media only screen and (max-width: 800px){

    body{
        overflow: hidden;
    }

    .hero{
        margin: 10vw 0vw -10vw -9vw;
    }

    .Heading{
        font-size: 3.85vw;
    }

    .DMY{
        margin: 0vw 8vw 0vw 8vw;
    }

    .Input-section{
        margin: 5vw 0vw 2vw 5.5vw;
    }

    .Input-section input{
        width: 22vw;
        height: 15vw;
        font-size: 6vw; 
        padding-left: 5vw;
    }

    .Input-section input::placeholder{
        font-size: 6vw; 
    }

    .Input-section input:focus{
        font-size: 6vw; 
    } 

    .Input-section input::selection{
        font-size: 6vw;
    }

    .error{
        font-size: 2.8vw;
    }

    .Seperation{
        margin-top: 7vw;
        margin-bottom: 7vw;
        margin-left: 8vw;
        margin-right: 5vw;
    }

    svg{
        width:14.5vw;
        height: 14.5vw; 
    }

    .button{
        margin: auto;
    }

    .line{
        position: absolute;
        z-index: -1;
        width: 93vw;
        top:48vw;
    }

    .result{
        font-size: 15vw;
        margin: 0vw 8vw 0vw 8vw;
    }

    #day-result{
        margin-bottom: 20vw;
    }




}
